{% load static %}
{% include "homeapp/home.html" %}
<h2 style="text-align: center;color: orange;">Welcome To Home App!</h2>
                <div class="col-3">
                    <a href = "/compiler/">
                        <img src = "{% static 'homeapp/images/pythonimage.jpg' %}" height= 150 width = 150 alt = "Image Not Loaded!">
                        </img>
                    </a>
                </div>
                <div class="col-3 text-center">
                    <a href = "/quizapp/">
                        <!-- <img src = "{% static 'homeapp/images/pythonimage.jpg' %}" height= 150 width = 150 alt = "Image Not Loaded!">
                        </img> -->Take A Quiz Here!
                    </a>
                </div>
