{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <title>
            SuperCompilerApp!
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgba(0, 0, 0, 0.342);">
    <div class="container-fluid">
        <div class="text-center">
            <h2 class="text-info">SuperCompiler App!</h2>
        </div>
        <div class="row">
            <div class="col-6" style=" height: 500px; width: 500px;">
                <h3 class="text-center">Input Area!</h3>
                <form method="POST" action="executeCode/">
                    {% csrf_token %}
                    {{ inputForm }}
                    <!-- <div class="form-group">
                        <label for="inputcodearea" class="text-danger">Please Write Your Code Here : </label>
                        <textarea class="textarea form-control" rows="25" id = "inputcodearea" name="inputcode" required></textarea>    
                    </div> -->
                    <div class="form-group text-center">
                        <input type="submit" value="RUN!" class="btn btn-danger">
                    </div>
                </form>
            </div>
            <div class="col-6" style=" height: 500px; width: 500px;">
                <h3 class="text-center">Output Area!</h3>
                {% if code %}
                <h3>{{ code }}</h3>
                {% endif %}

                {% if result %}
                <h3>{{ result }}</h3>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>